@model IEnumerable<Pedal>
@*
    
*@
@{
}

<h1>@ViewData["User"]'s Pedals</h1>

<body>
    <div class="table-responsive" >
        <table class="table table-sm table-responsive table-striped table-bordered">
            <thead>
                <tr>
                    <th>Pedal Name</th>
                    <th>Pedal Type</th>
                    <th>Pedal Sub Type</th>
                    <th>Pedal Color</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Pedal p in Model)
                {
                <tr>
                    <td>@p.PedalName</td>
                    <td>@p.PedalType</td>
                    <td>@p.PedalSubType</td>
                    <td>@p.PedalColor</td>
                 </tr>
                }
            </tbody>
        </table>
    </div>
</body>
